body {
	
    background-color: #eee;
	margin: 0;
}

p {
	
	margin: 0;
	padding: 0;
}

.container {
	
	width: 1200px;
	margin: auto;
	background-color: #003300;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
}

.container div.header {
	
	height: 381px;
	background-image: url("images/header.png");
	background-position: center;
	background-repeat: none;
}

.container div.pre_menu {
	
	padding-top: 3px;
	padding-bottom: 3px;
	height: 60px;
	background-color: #006400;
}

.container div.menu {
	
	height: 60px;
}

.container .menu ul {
	
	padding: 0;
	margin: 0;
	text-align: center;
}

.container .menu li.menu_button {
	
	height: 60px;
	line-height: 60px;
	width: 398.67px; /* (1200 - 2 * 3) / 4 */
	background-color: #69a84d;
	float: left;
	list-style-type: none;
}

.container .menu li.menu_divider {
	
	height: 60px;
	width: 2px;
	list-style-type: none;
	background-color: #ffffff;
	float: left;
}

.container .menu li.menu_button a {

	height: 100%;
	width: 100%;
	float: left;
	color: inherit;
	text-decoration: inherit;
	font-family: "Comic Sans MS";
	font-size: 35px;
	text-shadow:
		-1px -1px 0 #ffffff,
		1px -1px 0 #ffffff,
		-1px 1px 0 #ffffff,
		1px 1px 0 #ffffff;
	font-weight: bolder;
}

.container .menu li.menu_button a.current {
	
	text-decoration: underline;
}

.container .menu li.menu_button a:hover {
	
	background-color: #2b4620;
	font-size: 30px;
	animation-name: menu_hover;
    animation-duration: 0.4s;
}

@keyframes menu_hover {
	
    from {
		
		background-color: inherit;
		font-size: 35px;
	}
    to {
		background-color: #2b4620;
		font-size: 30px;
	}
}

.container div.main {
	
	background-color: #d9f2d9;
	padding-top: 50px;
	padding-right: 100px;
	padding-bottom: 50px;
	padding-left: 100px;
}

.container div.main p {
	
	font-family: verdana;
	font-size: 18px;
}

.container .pre_footer {
	
	width: 100%;
	padding-top: 3px;
	background-color: #006400;
	display: inline-block;
}

.container div.footer {
	
	width: 100%;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 15px;
	padding-top: 15px;
	background-color: #69a84d;
}

.container div.footer p {
	
	font-family: verdana;
	font-size: 10px;
}
